<!DOCTYPE html>

<head>
  <title>The Green Bowl</title>
</head>

<body>
  <%- include("../views/partials/header.ejs") %>

  <div class="menucardhamb">
    <ul class="menu-content1">
      <li><a href="#proteinbowl">Protein Bowl</a></li>
      <li><a href="#salads">Veg Salads</a></li>
      <li><a href="#nonvegsalads">Non Veg Salads</a></li>
      <li><a href="#vegsandwiches">Veg Sandwiches</a></li>
      <li><a href="#nonvegsandwiches">Non Veg Sandwiches</a></li>
      <li><a href="#vegwraps">Veg Wraps</a></li>
      <li><a href="#nonvegwraps">Non Veg Wraps</a></li>
      <li><a href="#smoothies">Smoothies</a></li>
      <li><a href="#diaryFreesmoothies">Diary free Smoothies</a></li>
      <li><a href="#Smoothiebowl">Smoothie Bowl</a></li>
    </ul>
  </div>
  <div class="caropic">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators carobtn" style="z-index: 0">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
          style="
            background-color: #000;
            border: none;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            padding: 0;
          "
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          style="
            background-color: #000;
            border: none;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            padding: 0;
          "
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
          style="
            background-color: #000;
            border: none;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            padding: 0;
          "
        ></button>
      </div>
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <a href="/about#greenpass"
              ><img src="Assets/caro-gp.png" class="d-block w-100" alt="..."
            /></a>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="Assets/carooff (1).jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="Assets/flatoff.jpg" class="d-block w-100" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menubar">
    <ul class="menu-list">
      <li><a href="#smoothiebowl">Smoothie Bowl</a></li>
      <li><a href="#veg salad">Salads</a></li>
      <li><a href="#vegwraps">Wraps</a></li>
      <li><a href="#vegsandwiches">Sandwiches</a></li>
      <li><a href="#smoothies">Smoothies</a></li>
      <li><a href="#dairyfreesmoothies">Diary free Smoothies</a></li>
      <li><a href="#protein bowl">Protein Bowl</a></li>
    </ul>
  </div>

  <% 
  // Group recipes by type
  const recipesByType = {};
  recipes.forEach(recipe => {
      if (!recipesByType[recipe.type]) {
          recipesByType[recipe.type] = [];
      }
      recipesByType[recipe.type].push(recipe);
  });
  
  // Iterate through each type
  Object.keys(recipesByType).forEach(type => {
      const typeRecipes = recipesByType[type];
  %>
  <section id="<%= type %>">
    <div class="spacecaret">
      <button class="section-heading btn12"><%= type %></button>
      <img class="caret-styles" src="Assets/caret-down.webp" />
    </div>

    <div class="<%= type.replace(/\s+/g, '') %>">
      <% typeRecipes.forEach(recipe => { %>
      <form action="/cart" method="POST">
        <div class="section-container">
          <div class="content-container">
            <div class="details-container">
              <article>
                <div class="veg_nonveg_icon">
                  <% if (recipe.veg) { %>
                  <img class="veg-non-veg-icon" src="<%= recipe.veg %>" />
                  <% } %> <% if (recipe.nonveg) { %>
                  <img class="veg-non-veg-icon" src="<%= recipe.nonveg %>" />
                  <% } %>
                </div>

                <p class="dish"><%= recipe.name %></p>
                <div class="about-container">
                  <div class="about-img">
                    <% if (recipe.image) { %>
                    <img src="<%= recipe.image%>" alt="the peruvian bowl" />
                    <% }else{ %>
                    <img src="Assets/common.jpg" alt="the peruvian bowl" />
                    <% } %>

                    <button
                      onclick="triggerConfetti()"
                      class="btn1"
                      type="submit"
                    >
                      Add+
                    </button>
                  </div>
                  <P class="ingredient"
                    ><b>INGREDIENTS :</b>
                    <%= recipe.ingredients %>
                  </P>
                  <p class="price">Rs.<%= recipe.price%></p>
                  <p class="nutrients">
                    <span> <%= recipe.kcal %> Kcal </span>•Protein <%=
                    recipe.protein%> •Carbs <%= recipe.carbs%>•Fat <%=
                    recipe.fat%> •Fiber <%= recipe.fiber%>
                  </p>
                  <input
                    type="hidden"
                    name="recipes[]"
                    value="<%= JSON.stringify(recipe) %>"
                  />
                </div>
              </article>
            </div>
          </div>
        </div>
      </form>
      <% }); %>
    </div>
  </section>
  <% }); %>

  <!--   <div id="message"></div>
        <div class="messagebox">
            <input id="messageInput" onchange="sendMessage()">
        </div>
 -->

  <!--  <div class="chatbox-container">
            <div class="chat-section">

          
  

            </div>


            <div class="chatbox-inputfield">
                <input id="messageInput" placeholder="Type a message" onchange="sendMessage()">
                <div class="icon-holder">

                    <img src="Assets/send.png" class="sendbtn" onclick="sendMessage()">
                </div>

            </div>
        </div>
 -->
  <%- include("../views/partials/footer.ejs") %>

  <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Include Toastr JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="src/menupage.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
